.principal-container-howToModelData{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(4,42,140,1) 35%, rgba(0,114,255,1) 100%);
    min-height: 100vh;
    width: 100%;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 20px; 
    text-decoration: none;
    padding: 6px 15px;
}
.li{
    list-style: none;
    margin-left: 20px; 
    text-decoration: none;
    padding: 6px 15px;
}
.a{
    text-decoration: none;
    padding: 6px 15px;
}
.a:hover, #active{
    background: #fff;
    color: rgba(0,114,255,1);
    border-radius: 20px;
    
}

.section-howToModelData{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5%;     
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-howToModelData .img-howToModelData{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-howToModelData{
    opacity: 0.4;
}

.title-howToModelData{
    font-size: 2.8rem;
    font-weight: 650;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7ddcfa;
    z-index: 10;
    white-space: nowrap;
    text-align: center;
    word-break: break-word;
}

.subtitle-text-howToModelData{
    font-size: 2.5rem;
    font-weight: lighter;
    padding-top: 1%;
    padding-bottom: 1%;
}

.text-howToModelData{
    font-size: 1.5rem;
    font-weight: lighter;
    justify-content: center;
    text-align: justify;
}

.sec-howToModelData{
    position: absolute;
    padding: 100px;
    background: rgba(2,0,36,1);
}


/*A responsividade estava quebrando, pois a nav bar e o titulo não diminuem junto com o resto da página*/
@media (max-width: 768px){
    .title-howToModelData{
        font-size: 2rem;
    }
    .header, .ul{
        flex-direction: column;
    }
}

@media (max-width: 480px){
    .title-howToModelData{
        font-size: 1.5rem;
    }
}