.page-dataBase{
    height: auto;
    width: 100%;
    background-color: rgb(38, 42, 46);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(4,42,140,1) 35%, rgba(0,114,255,1) 100%);
    display: flex;
    flex-direction: column;
}

.li-dataBase{
    margin-left: 5%;
    margin-top: 3%;
}
.p-dataBase{
    margin-left: 5%;
}

.title-DB{
    font-size: 2.8rem;
    font-weight: 650;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7ddcfa;
    z-index: 10;
    white-space: nowrap;
    text-align: center;
    word-break: break-word;
}


@media (max-width: 768px){
    .title-DB{
        font-size: 2rem;
    }
    .header, .ul{
        flex-direction: column;
    }
    .p-dataBase{
        text-align: left;
    }
}

@media (max-width: 480px){
    .title-DB{
        font-size: 1.5rem;
    }
}