.page-dataBase{
    height: auto;
    width: 100%;
    background-color: rgb(38, 42, 46);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(4,42,140,1) 35%, rgba(0,114,255,1) 100%);
    display: flex;
    flex-direction: column;
}

.li-dataBase{
    margin-left: 5%;
    margin-top: 3%;
}
.p-dataBase{
    margin-left: 5%;
}

@media (max-width: 768px){
    #text{
        font-size: 3rem;
    }
    .header, .ul{
        flex-direction: column;
    }
}

@media (max-width: 480px){
    #text{
        font-size: 2.1rem;
    }
}