@import "./default.css";
@import "./navbar.css";
@import "./body.css";
@import "./styleM.css";
@import "./modelagemDados.css";
@import "./mainStepsToDataModeling.css";

.page{
    height: 200vh;
    width: 100%;
    background-color: rgb(60, 65, 72);
    display: flex;
    flex-direction: column;
}