.title-logicModel{
    font-size: 2.8rem;
    font-weight: 650;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7ddcfa;
    z-index: 10;
    white-space: nowrap;
    text-align: center;
    word-break: break-word;
}

.subtitle-text-logicModel{
    font-size: 2.5rem;
    font-weight: lighter;
    padding-top: 1%;
    padding-bottom: 1%;
}

.text-logicModel{
    font-size: 1.5rem;
    font-weight: lighter;
    justify-content: center;
    text-align: justify;
}

.principal-container-logicModel{
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(4, 42, 140, 1) 35%, rgba(0, 114, 255, 1) 100%);
    height: auto;
    width: 100%;
}

.container-logicModel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10%;
}

.text-container-logicModel{
    width: 70%;
    padding: 2%;
    margin-bottom: 5%;
    background-color: rgba(47, 51, 56, 0);
}

.section-logicModel{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5%;     
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-logicModel .img-logicModel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-logicModel{
    opacity: 0.4;
}



.text-img{
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.text-img2{
    width: 70%;
    height: auto;
    opacity: 0.6;
    border: solid white 5px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(5, 18, 34);
}

@media (max-width: 768px){
    .title-logicModel{
        font-size: 2rem;
    }
    .subtitle-text-logicModel{
        font-size: 1.3rem;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center
    }
    .text-logicModel{
        font-size: 1.1rem;
    }
}

  @media (max-width: 480px){
      .title-logicModel{
        font-size: 1.4rem;
    }
    .subtitle-text-logicModel{
        font-size: 1.3rem;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center
    }
    .text-logicModel{
        font-size: 1.1rem;
    }
}

@media (max-width: 328px){
  .title-logicModel{
    font-size: 1.3rem;
  }
  .subtitle-text-logicModel{
      font-size: 1.2rem;
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: center;
  }
  .text-logicModel{
      font-size: 1rem;
      letter-spacing: 0.5px;
  }
  
}